<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      td,th {
        padding: 15px;
      }
    </style>
    <script>
      alert('이미 로그인되어있어, 회원정보 보기페이지로 이동합니다.');
    </script>
  </head>
  <body>
    <table border=1; style="font-size: 18px; border-collapse: collapse">
        <tr>
            <td>ID값</td>
            <td>이름</td>
            <td>나이</td>
            <td>생일</td>
            <td>주소</td>
            <td>우편번호</td>
            <td>취미</td>
            <td>핸드폰</td>
            <td>이메일</td>
            <td>비밀번호</td>
            <td>탈퇴처리</td>
          </tr>
      <% for (const result of results) { %>
        <tr>
          <th>
            <%= result.id %>
          </th>
          <td>
              <%= result.name %>
          </td>
          <td>
              <%= result.age %>
          </td>
          <td>
              <%= result.birth %>
          </td>
          <td>
              <%= result.adress %>
          </td>
          <td>
              <%= result.post %>
          </td>
          <td>
              <%= result.hobby %>
          </td>
          <td>
              <%= result.phone %>
          </td>
          <td>
              <%= result.email %>
          </td>
          <td>
              <%= result.pw %>
              
          </td>
          <td>
            <button onclick='remove()'><p>회원아이디 삭제하기</p></button>
          </td>
        </tr>
      <% } %>
    </table>
    <center>
      <form action="/logout">
        <button >
          로그아웃하기
        </button>
      </form>
    </center>
    
    <script>
      

      function remove() {
        location.href = `/delete?id=<%= results[0].id %>`;
      }
    </script>
    
    
  </body>
</html>
