<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notice</title>
    <style>
        td,th {
            padding: 30px;
        }
    </style>
</head>
<body>
    <center>
        <table border=1; style="font-size: 18px; border-collapse: collapse">
            <tr>
                <td>ID값</td>
                <td>제목</td>
                <td>본문</td>
                <td>저자</td>
                <td>삭제하기</td>
            </tr>
        <% for (const result of results) { %>
            <tr>
            <th>
                <%= result.id %>
            </th>
            <td>
                <a href="/board/update?id=<%= result.id %>&title=<%= result.title %>&description=<%= result.description %>&author=<%= result.author %>"><%= result.title %></a>
            </td>
            <td>
                <%= result.description %>
            </td>
            <td>
                <%= result.author %>
            </td>
            <td>
                <a href="/board/notedel?id=<%= result.id %>&author=<%= result.author %>"><p>삭제하기</p></a>
            </td>
            </tr>
        <% } %>
        </table>
        <a href="/board/write"><h2>글쓰기</h2></a>
        <a href="/board/notedel"><h2>내 글 삭제하기</h2></a>
        <a href="/board/update"><h2>내 글 수정하기</h2></a>
    </center>
        
</body>
</html>